{% extends "templates/base.twig" %}

{% block header %}
    <style>
        h1{
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>It Works!</h1>
{% endblock %}

{% block footer %}
{% endblock %}